@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

/* Add background color to the top navigation */
* {
  margin: 0;
  padding: 0;
  border: none;
}

.nav-menu {
  background-color: #46413B;
  overflow: hidden;
}


body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  color: #F7F7F5;
}

/* heading and logo */

h1 {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #F7F7F5;
}

#logo {
  float: left;
  font-size: 280%;
  margin-left: 30px;
}

/* nevigation link and Menu */
#menu {
  font-size: 110%;
  letter-spacing: 4px;
}

#menu,
#logo {
  line-height: 75px;
}

#menu li {
  float: right;
  list-style-type: none;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  border-bottom: 1px solid #F7F7F5;
}

/* Add slogan to hero image  */
.container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.container .hero-image {
  position: absolute;
  bottom: 300px;
  background: rgba(2, 2, 4, 0.5);
  color: #F7F7F5;
  width: auto;
  padding: 40px;
  text-align: center;
  font-size: 200%;
}

/* Add style to about  */
#about {
  text-align: center;
  padding-left: 350px;
  padding-right: 350px;
  color: #46413B;

}


#button a {
  color: #F7F7F5;
  text-decoration: none;
  background-color: #46413B;
}

/* Add style to about button  */

/* Add style to footer  */
footer {
	background-color: #46413B;
	padding: 1em;
	text-align: center;
  width: 100%;
  bottom: 0;
    
  right: 0;
	z-index: 3;
}

footer > a {
	color: #F7F7F5;
	text-decoration: none;
	padding: 0 25px;
	font-size: 1.5rem;
}

footer > p {
	color: #F7F7F5;
  
}